<app-navigation></app-navigation>
<router-outlet></router-outlet>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">mode_edit</i>
    </a>
    <ul>
      <li><a class="btn-floating black" (click)="agregarArticulo()"><i class="material-icons">article</i></a></li>
      <li><a class="btn-floating grey" (click)="agregarProfesor()"><i class="material-icons">account_circle</i></a></li>
      <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
      <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
      <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
    </ul>
</div>

<div class="container">
    <div id = "agregarArticulo" class="modal">
        <div class="modal-content">
            <div class="col s12 m12 l8 offset-12 loginDiv">
                <div class="row loginContainer">
                    <div class="row" style="margin-bottom: 0px !important;"> 
                        <div class="col s12 " class="center" >
                            <h5 >
                                Registra Articulo
                            </h5>
                        </div>
                    </div>
                    <div style="border: .5px solid #78909c; padding: 10px">
                        <div class="row">
                            <div class="col s12">
                                <label>Nombre Articulo</label>
                                <input [ngModel]="articulito.titulo" required type="text" autocomplete="off" placeholder="Titulo del articulo">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12">
                                <label>Nombre del Congreso/Revista/Libro/Institución </label>
                                <input [ngModel]="articulito.titulo" required type="text" autocomplete="off" placeholder="Nombre del Tipo CLR">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12">
                                <label>Indexada</label>
                                <select class="browser-default" [(ngModel)]="articulito.indexa">
                                    <option *ngFor="let opcionIn of indexa" value="{{opcionIn}}">{{opcionIn}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12">
                                <label>Estado</label>
                                <select class="browser-default" [(ngModel)]="articulito.estado"  placeholder="Indexada">
                                    <option *ngFor="let estados of estado" value="{{estados}}">{{estados}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12">
                                <label>Fecha</label>
                                <input [(ngModel)]="articulito.fechaEdicion"type="text" class="datepicker" placeholder="Fecha" id="fecha">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12">
                                <label>Tipo NI</label>
                                <select class="browser-default" [(ngModel)]="articulito.tipoNI"  placeholder="Tipo NI">
                                    <option *ngFor="let tipo of tipoNI" value="{{tipo}}}">{{tipo}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12">
                                <label>ISSN/ISBN</label>
                                <input type="text" [(ngModel)]="articulito.issnisbn" autocomplete="off" placeholder="ISSN/ISBN">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12">
                                <label>Tipo CLR</label>
                                <select class="browser-default" [(ngModel)]="articulito.nombreCLR">
                                    <option *ngFor="let opcion of tipoCLR" value="{{opcion}}">{{opcion}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12">
                                <label>Volumen</label>
                                <input type="text" [(ngModel)]="articulito.volumen" autocomplete="off" placeholder="Volumen">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12">
                                <label>Paginas</label>
                                <input type="text" [(ngModel)]="articulito.paginas" autocomplete="off" placeholder="Paginas">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12">
                                <label>DOI</label>
                                <input type="text" placeholder="Doi" [(ngModel)]="articulito.doi" autocomplete="off">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12">
                                <label>Ciudad</label>
                                <input type="text" placeholder="Ciudad" [(ngModel)]="articulito.cuidad" autocomplete="off">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12">
                                <label>Pais</label>
                                <input type="text" placeholder="Pais" [(ngModel)]="articulito.pais" autocomplete="off">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12">
                                <label>Editorial</label>
                                <input type="text" placeholder="Editorial" [(ngModel)]="articulito.editorial" autocomplete="off">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s6 center">
                                <button class="btn waves-effect waves-light" (click)="darAltaArticulo()" type="submit" name="action">Dar de alta profesor
                                    <i class="material-icons right">article</i>
                                </button>                                
                            </div>

                            <div class="col s6 center"> 
                                <button class=" modal-action modal-close waves-effect waves-green btn waves-effect waves-light" type="submit" name="action">Cancelar
                                    <i class="material-icons right">cancel</i>
                                </button>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="modal" id="agregarProfesor">
        <div class ="modal-content">
            <div class="col s12 m12 l8 offset-12 loginDiv">
                <div class="row loginContainer">
                    <div class="row" style="margin-bottom: 0px !important;">
                        <div class="col s12">
                            <h5 class="center">
                                Ingresa Profesor
                            </h5>
                        </div>
                    </div>
                    <div style="border: .5px solid #78909c; padding: 10px">
                        <div class="row">
                            <div class="col s12">
                                <label>Nombres del Profesor</label>
                                <input [(ngModel)]="profesor.nombresP" type="text" autocomplete="off">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <label>Apellido Paterno</label>
                                <input [(ngModel)]="profesor.apellidoP" type="text" autocomplete="off">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <label>Apellido Materno</label>
                                <input [(ngModel)]="profesor.apellidoM" type="text" autocomplete="off">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <label>Correo del Profesor</label>
                                <input [(ngModel)]="profesor.correoProfesor" type="email" autocomplete="off">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <label>Contraseña</label>
                                <input [(ngModel)]="profesor.password" type="password" autocomplete="off">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <label>Grado</label>
                                <input [(ngModel)]="profesor.grado" type="text" autocomplete="off">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <label>Tipo Profesor</label>
                                <select class="browser-default" [(ngModel)]="profesor.idTipoProfesor">
                                    <option *ngFor="let tipo of tipoProfesores" [value]="tipo.idTipoProfesor">{{tipo.nombreTipo}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <label>Nombre en APA</label>
                                <input [(ngModel)]="profesor.nombreApa" type="text" autocomplete="off">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <label>Institutos</label>
                                <select (change)="cambioInstituto($event.target)" class="browser-default">
                                    <ng-container *ngFor='let item of institutos'>
                                        <option [value]="item.idInstituto" *ngIf="item.idInstituto!=0">{{item.nombreInstituto}}
                                        </option>
                                    </ng-container>
                                </select>
                            </div>
                        </div>

                        <div class="row" *ngIf="numCarrerasByInstituto != 0">
                            <div class="col s12">
                                <label>Carreras</label>
                                <select (change)="cambioCarrera($event.target)" class="browser-default">
                                    <option [value]="item.idCarrera" *ngFor="let item of carreras" >{{item.nombreCarrera}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12 center">
                                <button class="btn waves-effect waves-light" (click)="altaProfesor()" type="submit" name="action">Dar de alta profesor
                                    <i class="material-icons right">send</i>
                                </button>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
