<div class="container">
	<div class="row">
		<div class="col s12">
			<label>Selecciona un Instituto</label>
			<select (change)="cambioInstitutoProfesores($event.target)" class="browser-default">
				<ng-container *ngFor='let item of institutos'>
					<option [value]="item.idInstituto" *ngIf="item.idInstituto!=0">{{item.nombreInstituto}}</option>
				</ng-container>
			</select>
		</div>
	</div>

	<ul class="collection" *ngFor="let articulo of articulos| paginate: { itemsPerPage: 3, currentPage: pages }; let i=index ">
		<li class="collection-item avatar">
			<i class="material-icons circle">article</i>
			<b><span class="title">{{articulo.titulo}}</span></b>
			<p *ngFor="let autor of articulo.profesores">
				{{autor.nombreApa}}
			</p>
			<div class="secondary-content">
				<a><i class="small material-icons">person_remove</i></a>
				<a><i class="small material-icons">edit</i></a>
			</div>
		</li>
	</ul>
</div>

<pagination-controls 
	class="center"
	(pageChange)="pages = ($event)"                
    previousLabel="Anterior"
    nextLabel="Siguiente">
</pagination-controls>