<div class="container row">
    <div class="container seccionMenu col s12 l3">
        <div class="row">
            <label>Articulos disponibles</label>
            <form action="#" *ngFor="let articuloMenu of articulos; let i=index" class="boton">
                <p>
                    <label>
                        <input type="checkbox"  (click)="seleccionarCheckbox($event,articuloMenu,i)" />
                        <span>{{articuloMenu.titulo}}</span>
                    </label>
                </p>
            </form>
        </div>
    </div>

    <div class="seccionArticulos col s12 l9">
        <div class="seccionPrincipal" *ngFor="let hojas of numeroHojas; let i=index">
            <ul class="collection" *ngFor="let articulo of articulosFinal[i]; let j=index">
                <li class="collection-item avatar">
                    <i class="material-icons circle">
                        article
                    </i>
                    <b><span class="title">{{articulo.titulo}}</span></b>
                    <p *ngFor="let autor of autores[j];">
                        {{autor.nombreApa}}
                    </p>

                    <div class="saltoPagina saltoPaginaHTML" *ngIf="arregloNumeros[j] == true">
                        <div class="seccion"></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
