.container{
    margin-top: 2rem;
}
input{
    width: 100%!important;
}

.material-icons{
    color: black;
    display: flex;
    align-items: center;
}

.seccion{
    /* margin: 0px 0px 30px; */
    min-height: 720px;
    max-height: 720px;
    /* box-shadow: 0px 0px 5px grey; */
    box-sizing:content-box;
    margin-top: 5rem;
}

.seccionPrincipal{
    margin: 0px 0px 30px;
    min-height: 900px;
    max-height: 900px;
    box-shadow: 0px 0px 5px grey;
    box-sizing:content-box;
    overflow: hidden;
}

.contenedor{
    width: 707px;
    max-height: 1000px;
    display: block;
    margin: 0 auto;
}

input[type=checkbox]{
    cursor: pointer;
}

div .container{     /*Le damos estilo a la barra del menu lateral*/
    background-color: #f8f8f8;
    left: 1rem;
    max-height: 100%;
    box-shadow: 2px 0px 4px #ccc;
}

/*Seccion de impresión*/
@media print{
    .seccionMenu{
        display: none;
    }

    .fixed-action-btn{      /*Se tiene que ocultar el boton como una clase ya que esta declarada como tal */
        display: none;
    }

    @page{      /*Ponemos el tamaño de la hoja en tamaño carta*/
        size: letter;
    }

    .secondary-content { 
        display:none;
    }

    ul{     /*Con esto evitamos que cuando se imprima se corte*/
        page-break-inside: avoid;
    }

    .saltoPagina{
        page-break-after: always;
    }
}