<div class="container row">
    <div id="custom-target" class="right"></div>
    <div class="seccionMenu col s12 l4">
        <ul class="collapsible">
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">filter_list</i>Filtros
                </div>

                <div class="collapsible-body">
                    <div class="row">
                        <!-- TODO:Terminar el fecha filtro -->
                        <label>Selecciona un rango de fechas</label>
                        <div class="col s12">
                            <div class="col s6">
                                <input [value]="fechaInicio" type="text" class="datepicker" id="fechaInicio" (change)="CambioFechaInicio()">
                            </div>
                            <div class="col s6">
                                <input [value]="fechaFin" type="text" class="datepicker" id="fechaFin" (change)="CambioFechaFin()">
                            </div>
                        </div>
                
                        <div class="col s12">
                            <label>Selecciona un Instituto</label>
                            <select class="browser-default" (change)="cambioInstituto($event.target)">
                                <option [value]="99">Todos los institutos</option>
                                <ng-container *ngFor="let instituto of institutos">
                                    <option [value]="instituto.idInstituto" *ngIf="instituto.idInstituto!=0">
                                        {{instituto.nombreInstituto}}</option>
                                </ng-container>
                            </select>
                            <br>
                        </div>
                
                        <div class="col s12">
                            <label>Selecciona a un profesor del instituto seleccionado</label>
                            <select class="browser-default" (change)="cambioProfesor($event.target)">
                                <ng-container *ngFor="let profesor of profesores">
                                    <option [value]="profesor.idProfesor"> {{profesor.nombresP + " " + profesor.apellidoP + " " +
                                        profesor.apellidoM}}</option>
                                </ng-container>
                            </select>
                            <br>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        
        <!-- menu articulos -->
        <ul class="collection with-header">
            <li class="collection-header center">
                <h5>Articulos disponibles</h5>
            </li>
            <li *ngFor="let articuloMenu of articulos; let i=index" class="boton collection-item"
                data-target='articulosCanvas'>
                <p>
                    <label>
                        <input type="checkbox" (click)="seleccionarCheckbox($event,articuloMenu,i)" />
                        <span>{{articuloMenu.titulo}}</span>
                    </label>
                </p>
                <div class="agregarCanvas center" *ngIf="arregloNumeros[i] === true">
                    <p>
                        <label>
                            <input type="checkbox" (click)="agregarCanvas($event,articuloMenu,i)" />
                            <span>Agregar canvas</span>
                        </label>
                    </p>
                </div>
            </li>
        </ul>
    </div>
    


    <div class="seccionArticulos col s12 l8">
        <div class="seccionPrincipal" *ngFor="let hojas of numeroHojas; let i=index">
            <ul class="collection" *ngFor="let articulo of articulosFinal[i]; let j=index">
                <li class="collection-item avatar">
                    <i class="material-icons circle">
                        article
                    </i>
                    <b><span class="title">{{articulo.titulo}}</span></b>
                    <p *ngFor="let autor of autores[j];">
                        {{autor.nombreApa}}
                    </p>
                </li>

                <div class="wrapper">
                    <div *ngIf="arregloCanvas[j] ===true" class="center rectangle" mwlResizable
                        [validateResize]="validate" [ngStyle]="style" [enableGhostResize]="true"
                        [resizeSnapGrid]="{left: 1, right: 1,top: 1, bottom: 1}" (resizeEnd)="onResizeEnd($event)">

                        <canvas id="idCanvas" class="rectangle" mwlResizable [validateResize]="validate"
                            [enableGhostResize]="true" [resizeSnapGrid]="{ left: 1, right: 1 }"
                            (resizeEnd)="onResizeEnd($event)">
                        </canvas>

                        <!-- Divs para manipular el resize -->
                        <div class="resize-handle-top" mwlResizeHandle [resizeEdges]="{ top: true }"></div>
                        <div class="resize-handle-left" mwlResizeHandle [resizeEdges]="{ left: true }"></div>
                        <div class="resize-handle-right" mwlResizeHandle [resizeEdges]="{ right: true }"></div>
                        <div class="resize-handle-bottom" mwlResizeHandle [resizeEdges]="{ bottom: true }"></div>
                    </div>
                </div>
                <div class="saltoPagina saltoPaginaHTML" *ngIf="arregloNumeros[j] == true">
                    <div class="seccion"></div>
                </div>

            </ul>

        </div>
    </div>
</div>

<!-- IMPRESIONES -->

<div class="impresionPDFTodos" *ngIf="institutoActual == 99">
    <ng-container *ngFor="let instituto of institutos;let i=index">
        <h4 class="center">{{instituto.nombreInstituto}}</h4>
        <ul class="collection" *ngFor="let articulo of articulos; let j=index">
            <li class="collection-item avatar">
                <i class="material-icons circle">
                    article
                </i>
                <b><span class="title">{{articulo.titulo}}</span></b>
                <p *ngFor="let autor of autores[j];">
                    {{autor.nombreApa}}
                </p>
            </li>
        </ul>
    </ng-container>
</div>

<div class="impresionPDF">
    <h4 class="center">{{nombreInstitutoActual}}</h4>
    <ul class="collection" *ngFor="let articulo of articulos; let j=index">
        <li class="collection-item avatar">
            <i class="material-icons circle">
                article
            </i>
            <b><span class="title">{{articulo.titulo}}</span></b>
            <p *ngFor="let autor of autores[j];">
                {{autor.nombreApa}}
            </p>
        </li>
    </ul>

</div>

<!-- 
  <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Drop Me!</a>

  
  <ul id='dropdown1' class='dropdown-content'>
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider" tabindex="-1"></li>
    <li><a>
        <label>
            <input type="checkbox"  (click)="seleccionarCheckboxCanvas($event)" />
            <span>Insertar Canvas</span>
        </label>
    </a></li>
  </ul> -->