<div class="contenedor-principal">
	<!-- <img src="http://localhost:3000/{{idProfesor}}.jpg" class="align-center" > -->
	<table class="striped responsive-table">
		<thead>
			<tr>
				<th colspan="5">{{"Datos Generales" | translate}}</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td></td>
				<td><b>{{"Nombre" | translate}}</b></td>
				<td>{{profesor.nombresP}}</td>
			</tr>
			<tr>
				<td></td>
				<td><b>{{"Apellido paterno" | translate}}</b></td>
				<td>{{profesor.apellidoP}}</td>
			</tr>
			<tr>
				<td></td>
				<td><b>{{"Apellido materno" | translate}}</b></td>
				<td>{{profesor.apellidoM}}</td>
			</tr>
			<tr>
				<td></td>
				<td><b>{{"Correo" | translate}}</b></td>
				<td>{{profesor.correoProfesor}}</td>
			</tr>
			<tr>
				<td></td>
				<td><b>{{"Nivel" | translate}}</b></td>
				<td>{{profesor.nivel}}</td>
			</tr>
			<tr>
				<td></td>
				<td><b>{{"Grado" | translate}}</b></td>
				<td>{{profesor.grado}}</td>
			</tr>
			<tr>
				<td></td>
				<td><b>{{"Nombre en Apa" | translate}}</b></td>
				<td>{{profesor.nombreApa}}</td>
			</tr>
			<tr>
				<td></td>
				<td><b>{{"Id del instituto" | translate}}</b></td>
				<td>{{profesor.idInstituto}}</td>
			</tr>
		</tbody>
	</table>


</div>