<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a class="brand-logo center"><img src="assets/img/utm_ova.gif" width="62" height="62"></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <!--hace el menu hamburguesa o lo oculta -->
                <li *ngIf="nivelProfesor==1"> 
                    <a class="dropdown-trigger" data-target="menuExportar"> {{"Exportar" | translate}} 
                        <i class="material-icons right">arrow_drop_down</i> 
                    </a> 
                </li>

                <li>
                    <a class="dropdown-trigger" data-target="menu_modificar" href="mobile.html">
                        <!--no te ridecciona, solo se va al menu -->
                        {{"Modificar" | translate}}<i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>

                <li>
                    <a data-target="menuIdioma" class="img dropdown-trigger">
                        <img src="../../../assets/img/mexpng.png" class="center responsive-img" *ngIf="ingles == false">
                        <img src="../../../assets/img/uspng.png" class="center responsive-img" *ngIf="ingles == true">
                    </a>

                </li>

                <li>
                    <a class="img dropdown-trigger" data-target="menuLogout">
                        <img src="http://localhost:3000/avataaars.png" class="circle center responsive-img">
                    </a>
                </li>
            </ul>

            <!-- Menu derecha logout -->
            <ul id="menuLogout" class="dropdown-content">
                <li><a class="right black-text" (click)="logout()">{{"Cerrar Sesión" | translate}}<i class="material-icons
                    vertical-align-middle">exit_to_app</i></a></li>
            </ul>

            <ul id="menuExportar" class="dropdown-content" *ngIf="nivelProfesor==1"> 
                <li>
                    <a (click)="exportarArticulos()">{{"Articulos" | translate}}</a>
                </li> 
            </ul>

            <ul id="menuIdioma" class="dropdown-content">
                <li>
                    <a class="img " (click)="cambioIdioma()" *ngIf="ingles == false">
                        <img src="../../../assets/img/uspng.png" class="center responsive-img">
                    </a>

                    <a *ngIf="ingles == true" (click)="cambioIdioma()" class="img">
                        <img src="../../../assets/img/mexpng.png" class="center responsive-img">
                    </a>
                </li>
            </ul>

            <!-- Menu izquierda //TODO: Agregar bandera para cambio de idioma y poner todo el texto en el assets-->
            <!-- Si el nivelProfesor es vice rector -->
            <ul class="left hide-on-med-and-down" *ngIf="nivelProfesor !== undefined && nivelProfesor === 1 ">
                <li>
                    <a class="dropdown-trigger" data-target="menuVer" href="mobile.html">
                        <!--no te ridecciona, solo se va al menu -->
                        {{"Ver" | translate}}<i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>

                <li>
                    <a data-target="menuAgregar" class="left dropdown-trigger">{{"Agregar" | translate}}
                        <i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>
 
                <li>
                    <a data-target="menuListar" class="left dropdown-trigger">{{"Listar" | translate}}
                        <i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>
                <li>
                    <a data-target="menuImportar" class="left dropdown-trigger">{{"Importar" | translate}}
                        <i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>

                <li>
                    <a data-target="menuImprimir" class="left dropdown-trigger">{{"Imprimir" | translate}}
                        <i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>
            </ul>
        
            <!-- Si nivelProfesor es JefeCarrera -->
            <ul class="left hide-on-med-and-down" *ngIf="nivelProfesor !== undefined && nivelProfesor === 3">
                <li>
                    <a data-target="menuAgregarJC" class="left dropdown-trigger">{{"Agregar" | translate}}
                        <i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>

                <li>
                    <a data-target="menuListarJC" class="left dropdown-trigger">{{"Listar" | translate}}
                        <i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>

                <li>
                    <a data-target="menuImportarJC" class="left dropdown-trigger">{{"Importar" | translate}}
                        <i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>
            </ul>

            <!-- Menus lado izquierdo(JC) -->
            <ul id="menuAgregarJC" class="dropdown-content">
                <li (click)="agregarProfesorJC()"><a>{{"Profesores" | translate}}</a></li>
            </ul>

            <ul id="menuListarJC" class="dropdown-content">
                <li (click)="listarProfesoresJC()"><a>{{"Profesores" | translate}}</a></li>
            </ul>

            <ul id="menuImportarJC" class="dropdown-content">
                <li (click)="migrarProfesor()"><a>{{"Profesores" | translate}}</a></li>
            </ul>


            <!-- Opciones lado izquierdo Vice-->
            <ul id="menuImportar" class="dropdown-content" >
                <li (click)="migrarProfesor()"><a >{{"Profesores" | translate}}</a></li>
                <li><a>{{"Articulos" | translate}}</a></li>
                <li><a>{{"Eventos" | translate}}</a></li>

            </ul>

            <ul id="menuAgregar" class="dropdown-content" >
                <li (click)="agregarProfesor()"><a >{{"Profesores" | translate}} </a></li>
                <li (click)="agregarCarrera()"><a>{{"Carrera" | translate}}</a></li>
                <li (click)="agregarInstituto()"><a>{{"Instituto" | translate}}</a></li>
                <li (click)="agregarEvento()"><a>{{"Evento" | translate}}</a></li>
                <li (click)="agregarActividad()"><a>{{"Actividad" | translate}}</a></li>
            </ul>

            <ul id="menuListar" class="dropdown-content">
                <li (click)="listarProfesores()"><a>{{"Profesores" | translate}}</a></li>
                <li (click)="listarCarreras()"><a>{{"Carreras" | translate}}</a></li>
                <li (click)="listarInstitutos()"><a>{{"Institutos" | translate}}</a></li>
                <li (click)="listarArticulos()"><a>{{"Articulos" | translate}}</a></li>
            </ul>

            <ul id="menu_modificar" class="dropdown-content">
                <li><a href="#/home/generales/{{idProfesor}}">{{"Datos Generales" | translate}}</a></li>
                <li><a href="#/home/articulos/{{idProfesor}}">{{"Publicaciones" | translate}}</a></li>
                <li><a href="#">{{"Comisiones" | translate}}</a></li>
            </ul>
            <ul id="menuVer" class="dropdown-content">
                <li (click)="datosGenerales()"><a>{{"Datos Generales" | translate}}</a></li>
                <li><a>{{"Materias" | translate}}</a></li>
                <li (click)="redirArticulos()"><a>{{"Articulos" | translate}}</a></li>
                <li><a>{{"Proyectos" | translate}}</a></li>
                <li><a>{{"Comisiones" | translate}}</a></li>
                <li><a>{{"Eventos" | translate}}</a></li>
                <li><a>{{"Tesistas" | translate}}</a></li>
            </ul>

            <ul id="menuImprimir" class="dropdown-content">
                <li (click)="redirArticulosImprimir()"><a>{{"Articulos" | translate}}</a></li>
            </ul>
        </div>
    </nav>
</div>
<ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Sass1</a></li>
    <li><a href="badges.html">Components</a></li>
    <li><a href="collapsible.html">Javascript</a></li>
    <li><a href="mobile.html">Mobile</a></li>
</ul>

<!-- Migrar Profesor -->

<div class="container">
    <div class="modal" id="migrarProfesor">
        <div class ="modal-content">
            <div class="col s12 m12 l8 offset-12 loginDiv">
                <div class="row loginContainer">
                    <div class="row" style="margin-bottom: 0px !important;">
                        <div class="col s12">
                            <h5 class="center">
                                Migrar Profesor (Excel)
                            </h5>
                        </div>
                    </div>
                    <div style="border: .5px solid #78909c; padding: 10px">
                        <div class="row">
                            <div class="col s12 center">
                                <div class="file-field input-field">
                                    <div class="btn">
                                        <span>Archivo</span>
                                        <input type="file"  (change)="cargarExcel($event)">
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input type="text" class="file-path validate">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s6 center">
                                        <button class="btn waves-effect waves-light" (click)="migrarProfesorDB()" type="submit" name="action" style="background-color: #d85f0e !important; color:white;">Migrar Excel
                                            <i class="material-icons right">send</i>
                                        </button>
                                    </div>
                                   
                                    <div class="col s6 center">
                                        <button class="btn waves-effect waves-light modal-close" type="submit" name="action" style="background-color: #560505 !important; color:white;">
                                            Cancelar<i class="material-icons right">cancel</i>
                                        </button>
                                    </div>
                                </div>                          
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
