<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo">Logo</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <!--hace el menu hamburguesa o lo oculta -->
                <li>
                    <a class="dropdown-trigger" data-target="menu_ver" href="mobile.html">
                        <!--no te ridecciona, solo se va al menu -->
                        Ver<i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>
                <li>
                    <a class="dropdown-trigger" data-target="menu_modificar" href="mobile.html">
                        <!--no te ridecciona, solo se va al menu -->
                        Modificar<i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>
                <li>
                    <a class="right
                    black-text" (click)="logout()"><i class="material-icons
                    vertical-align-middle">exit_to_app</i></a>
                </li>
            </ul>
            <ul id="menu_modificar" class="dropdown-content">
                <li><a href="#/home/generales/{{idProfesor}}">Datos generales</a></li>
                <li><a href="#/home/articulos/{{idProfesor}}">Publicaciones</a></li>
                <li><a href="#">Comisiones</a></li>
            </ul>
            <ul id="menu_ver" class="dropdown-content">
                <li><a href="#">Articulos</a></li>
                <li><a href="#">Materias</a></li>
                <li><a href="#">Comisiones</a></li>
            </ul>
        </div>
    </nav>
</div>
<ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Sass1</a></li>
    <li><a href="badges.html">Components</a></li>
    <li><a href="collapsible.html">Javascript</a></li>
    <li><a href="mobile.html">Mobile</a></li>
</ul>
