@import '~material-icons/iconfont/material-icons.css';

nav
{
	position: fixed;
	top: 0;
	background-color: #562605 !important;
}

.contenedor-principal
{
	margin-top: 10em;
}

.img{
	max-width:5rem;
}